body {
    background-color: #1e1e1e;
    color: #f1f1f1;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #f4c430; /* yellow */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

nav a {
    margin: 0 10px;
    color: #f4c430;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffeb3b;
}

main {
    padding: 30px;
    background-color: #2a2a2a;
}

footer {
    background-color: #111;
    color: #888;
    text-align: center;
    height: 10px;
    padding: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

input, select, textarea, button {
    background-color: #333;
    border: 1px solid #888;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #f4c430;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #ffd700;
}
