<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAZU Services</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="CAZU Logo">
        </div>
        <nav>
            <a href="/">Home</a>
            
            {% if session.get('user_id') %}
                <a href="/dashboard">Dashboard</a>
                
                <div class="dropdown">
                    <span class="dropdown-trigger">{{ session['username'] }}</span>
                    <div class="dropdown-content">
                        <a href="/edit_profile" class="dropdown-text">Edit Profile</a>
                        <a href="/logout" class="dropdown-text">Logout</a>
                    </div>
                </div>

            {% elif session.get('admin') %}
                <a href="/admin_dashboard">Dashboard</a>

                <div class="dropdown">
                    <span class="dropdown-trigger">{{ session.get('admin_name', 'Admin') }}</span>
                    <div class="dropdown-content">
                        <a href="/logout" class="dropdown-text">Logout</a>
                    </div>
                </div>

            {% else %}
                <a href="/user_login">Login</a>
            {% endif %}
        </nav>


    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 CAZU Services</p>
    </footer>
    <script>
        function openBookingModal() {
            document.getElementById("bookingModal").classList.remove("hidden");
        }
        function closeBookingModal() {
            document.getElementById("bookingModal").classList.add("hidden");
        }
    </script>

</body>
</html>
